{% extends "layout.njk" %}

{% block content %}

<div class="container mt-5">
<h2 class="mb-4">About Us</h2>

<p>We provide best browines in the town</p>

<div class="row g-4 mt-3">

<div class="col-12 col-md-6">
<div class="card p-3">
<h5>Veg Browines</h5>
<p>
Fudgy Brownies,
Cakey Brownies,
Chewy Brownies
</p>
</div>
</div>

<div class="col-12 col-md-6">
<div class="card p-3">
<h5>Non-veg Browines</h5>
<p>
Double Chocolate Brownies,
Dark Chocolate Brownies,
Milk Chocolate Brownies
</p>
</div>
</div>

</div>
</div>

{% endblock %}