{% extends "layout.njk" %}

{% block content %}

<div class="hero">
<h1>Fresh Chocolate Brownies</h1>
<p>Made with love</p>
</div>

<div class="container my-5">
<div class="row g-4">

<div class="col-12 col-sm-6 col-md-4">
<div class="card text-center p-3">
<h5>Classic</h5>
<p>Double choco chip</p>
</div>
</div>

<div class="col-12 col-sm-6 col-md-4">
<div class="card text-center p-3">
<h5>Must try</h5>
<p>Fruit and nut</p>
</div>
</div>

<div class="col-12 col-sm-6 col-md-4">
<div class="card text-center p-3">
<h5>Newly launched</h5>
<p>Matcha Browine</p>
</div>
</div>

</div>
</div>

{% endblock %}